<% provide(:title, 'Home') %>

<h1>OOmda Doompa Doopidy Do</h1>

<h2> Cetco Technical Reference Library Homepage </h2>
<a href="http://www.timdenenberg.com"> Click Here </a> 

<p>Find me in app/views/static_pages/home.html.erb</p>
